<div class="w-100 vh-100 d-flex my-0 mx-auto align-items-center justify-content-center flex-column">
    <form class="form-content border p-4 rounded" [formGroup]="form" (ngSubmit)="handleUserLogin()">
      <h2 class="text-center">Login</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input
          required
          id="email" type="email" 
          formControlName="email" 
          class="form-control shadow-none has-validation" 
          id="exampleInputEmail1" 
          placeholder="Enter email"
        >
        <small *ngIf="EmailInvalid" id="emailHelp" class="form-text text-muted">
          Email is required
        </small>
      </div>
      <div class="form-group mt-3">
        <label for="exampleInputPassword1">Password</label>
        <input
          required
          id="password" 
          formControlName="password" 
          class="form-control shadow-none  has-validation" 
          id="exampleInputPassword1" 
          placeholder="Password"
         >
         <small *ngIf="PasswordInvalid" id="emailHelp" class="form-text text-muted">
          Password is required
        </small>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

  