<div class="form-container">
    <form class="form-content" [formGroup]="form" (ngSubmit)="handleSignUpUser()">
        <h2>Login</h2>
        <div>
          <label for="email">UserName:</label>
          <input id="username" type="username" formControlName="username">
          <p *ngIf="isShowRequired()">
            User Name is required
          </p>
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" formControlName="email">
            <p *ngIf="isShowRequired()">
              Email is required
            </p>
          </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" formControlName="password">
          <p *ngIf="isShowRequired()">
            Password is required
          </p>
        </div>
        <button
        tooltip="button tooltip"
        class="btn btn-primary" 
        type="submit"
        >Register</button>
    </form>
</div>
  