<div class="w-full flex items-center justify-center">
    <div class="w-11/12 mx-0 my-auto">
      <app-header>
      </app-header>
      <app-modal 
        *ngIf="isShowDialog()" 
        [isShowDialog]="isShowDialog()" 
        (handleTransferStatus)="setStatusDialog($event)"
      ></app-modal>
      <router-outlet></router-outlet>
      <app-table 
        [books]="listBooks" 
        [isShowDialog]="isShowDialog()" 
        (setStatus)="setTransferStatus($event)"
      ></app-table>
      <button routerLink="/home">HOME</button>
      <app-footer></app-footer>
    </div>
  </div>